<div class="card-product-popup">
  <div>
  <% if horse.photo.attached? %>
    <%= cl_image_tag(horse.photo.key, width: 50, height: 50, crop: :fill) %>
  <% elsif horse.avatar? %>
    <%= image_tag(horse.avatar, width: 50, height: 50, crop: :fill)  %>
  <% end %>
  </div>
  <div class="card-product-infos">
    <%= link_to horse.horse_name, horse_path(horse), class:"horse-name" %>
    <br>
    <a href="#"><i class="fas fa-map-marker-alt"></i>  0.3 km</a>
  </div>
</div>
