<br>
<br>
<br>
<div class="container mb-5">
  <h1 class="text-center">Put your horse on the market</h1>
  <br>
  <div class="row justify-content-center">
    <%= render "form", horse: @horse %>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
