.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 32px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 22px;

  margin-bottom: 4px;
  color: $my-orange;
}

.card-product h3 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 12px;
  color: $my-green;
}

.card-product h4 {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 12px;
  color: $my-red;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 600px;
}

a {
  color: $my-orange;
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

.horse-name {
  font-size: 24px;
  font-weight: bold;
  color: $my-orange;
}

.card-location {
  position: relative;
  left: 870px;
}

.horse-creating {
  text-align: center;

}

.horse-creating h2 {
  font-size: 24px;
  font-weight: bold;
  color: $my-orange;
}
