.mapboxgl-popup {

}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.card-product-popup{
  width: 185px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-product-popup  a:hover{
  color: $my-orange;
}

#map1 {
 padding-bottom: 20px;
}
