.navbar-lewagon {
  justify-content: space-between;
  background: white;
  display: flex;
  align-items: center;
  height: 7vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  a {
  color: $my-brown;
  }
}

.navbar-collapse {
  ul {
    padding: 0px;
    margin: 0px;
  }
}
