.navbar-lewagon {
  justify-content: space-between;
  // background: rgba(255,255,255,0.3);
  display: flex;
  align-items: center;
  height: 5vh;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a {
  color: white;

}

a:hover {
  color: white;
}

.navbar-collapse {
  ul {
    padding: 0px;
    margin: 0px;
  }
}
